* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    grid-gap: 14px;
}
.Image img {
    width: 100%;
    height: auto;
    padding: 14px;
}